<div id="post" class="container">
  <h1>New Note</h1>
    
  <%= render 'form' %>
  <div class="show-btns">
    <%= link_to '<i class="fa fa-home"></i> Home'.html_safe, root_path, :class => "btn btn-success" %>
  </div>
</div>
